@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.bg-seondary{
  background: rgba(255, 144, 14, 0.1);
}
.bg-primary{
  background: rgba(255, 144, 14, 1);
}
.text-primary{
  color:rgba(255, 144, 14, 1);
}
.text-white{
  color:#fff;
}
.dark-1{
  color:#131313;
}
.dark-2{
  color:#424242;
}
.dark-3{
  color:#727272;
}
p{
  color:#727272;
  font-size: 16px;
}
body{
  font-family: "Work Sans", sans-serif;
  scroll-behavior: smooth;
}
.wrap{
  max-width: 1320px;
  margin: 0 auto;
  padding:0px 30px;
}
.btn-primary{
  background: #FF900E;
  padding:16px 20px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
  border: none;
  transition: .3s ease;
}
.btn-primary:hover{
  opacity: 86%;
}
.hide{
  display: none;
}
.text-center{
  text-align: center;
}



/* -- nav style --  */
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin:200px auto;
}
nav h2{
  font-weight: bold;
  font-size: 35px;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  padding:30px;
}
nav ul li a{
  text-decoration: none;
  color:#424242;
  font-size: 18px;
  font-weight: 500;
}


/* banner-section style  */
.banner-section{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner-section h1{
  margin-top: 50px;
  font-size: 55px ;
  font-weight: 700;
  text-align: center;
}
.banner-section p {
  text-align: center;
  margin:30px;
  max-width: 900px;
}

.section-img img{
  width: 100%;
  margin-top: 40px;
  margin-bottom: 25px;
}

/* features part style  */
.features{
  display: flex;
  gap:50px;
  align-items: center;
  margin:50px auto;
}
.featur{
  flex:1;
}
.img-section{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap:30px;
}
.img-section img{
  width: 100%;
}
.text-section h2{
  font-size: 40px;
  font-weight: 700;
}
.text-section p{
  margin:30px 0px;
}

/* about-section style  */
.about-section{
  display: flex;
  margin:50px auto;
}
.about-content{
  flex: 1;
}
.about-p{
  padding:30px 80px 30px 0px
}
.about-heading{
  padding-left: 20px;
  border-left: 5px solid #FF900E;

}
.section-heading{
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 20px;
}
.contents{
  padding:20px;
  margin-top: 30px;
  box-shadow: 1px 1px 10px #4242421e;
  border-radius: 5px;
}
.contents h4{
  font-weight: bold;
  margin-bottom: 10px;
}
.about-content img {
  width: 100%;
}
.badge{
  padding:20px 30px;
  border-radius: 10px;
  color:#fff;
  background: #FF900E;
  position: relative;
  border: none;
  top:-50px;
  left:-50px;
}
.badge h2{
  text-align: center;
  font-size: 30px;
}
.badge p{
  color:#fff;
  text-align: center;
}

/* facts part  */
.fatchs-section{
  margin: 50px auto;
}
.facts{
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap:20px;
}
.fact{
  flex:1 1 200px;
  max-width: 200px;
  padding:20px;
  border-radius: 10px;
  border:1px solid #FF900E;
  display: flex;
  flex-direction: column;
  gap:5px;
  align-items: center;
}
/* sponspors section  */
.sponspors-section{
  margin:50px auto;
}
.sponspors{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 50px;
  gap:30px;
}
.sponspor img{
  filter: grayscale(100%);
  cursor: pointer;
  transition:all .3s ease;
}
.sponspor{
  flex:1 1 200px;
  max-width: 200px;
}
.sponspor:hover img{
  filter: grayscale(0%);
}

/* footer  */
footer{
  border-radius: 5px;
  padding:20px;
}
/* responsive style  */

@media screen and (max-width:576px) {
  .banner-section h1{
    font-size: 40px;
  }
  .features,
  .about-section{
    flex-direction: column;
  }
  .about-p{
    padding:0;
  }
  .about-content img{
    margin-top: 50px;
  }
}

@media screen and (min-width:577px) and (max-width:992px){
  .features,.about-section{
    flex-direction: column;
  }.about-p{
    padding: 0;
  }
  .about-content img{
    padding-top: 50px;
  }
  
}